/* Reset styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Body Styles */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #141414;
  /* text-align: justify; */
}

/* Headings styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.2;
  /* color: #212121; */
}

/* Navigation Bar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 20px 20px;
}

/* Logo Styles */
.logo img {
  height: 120px;
}

/* Navigation Links Styles */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
  font-size: 24px;
}

.nav-links a:hover {
  color: #ffc107;
}

/* Icons Styles */
.icons {
  color: white;
  display: flex;
}

.icons .material-symbols-outlined {
  font-size: 30px;
}

/* Footer Styles */
.footer {
  display: flex;
  background-color: #141414;
  color: white;
  padding: 20px;
}

.footer-section {
  flex: 1;
  padding: 10px;
}

.footer-logo {
  padding: 10px;
}

.footer h2 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  text-align: left;
}

.footer p {
  margin: 0;
  padding-top: 10px;
  text-align: left;
}

/* Hamburger Menu Styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
}

/* Search Bar Styles */
.search {
  position: relative;
}

.search input[type=text] {
  position: relative;
  width: 300px;
  height: 25px;
  border-radius: 25px;
}

.search button {
  background: none;
  color: white;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

/* Search Results Styles */
#searchResults {
  position: absolute;
  top: 100%; /* Position below the search bar */
  left: 0;
  width: 100%;
  background-color: #141414;
  z-index: 1; /* Display above other elements */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
}

#searchResults li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  list-style: none;
}

#searchResults li:hover {
  background-color: #f5f5f5;
}

/* Media Query for Larger Screens */
@media (min-width: 768px) {
  .product-list {
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .icons {
    display: none;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #141414;
      position: absolute;
      top: 200px;
      left: 0;
      padding: 10px;
      z-index: 99;
  }

  .nav-links.active {
      display: flex;
  }

  .hamburger-menu {
      display: block;
  }

  .footer {
      flex-direction: column;
  }

  .footer-section {
      padding: 10px 0;
  }

  .footer-logo {
      padding: 10px 0;
  }
}


#product-container-product1{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  color: white;
  /* display: none; */
}

#product-container-product2{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  color: white;
  /* display: none; */
}

#product-container-product3{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  color: white;
  /* display: none; */
}

img {
  max-width: 100%;
  height: auto;
}

.quantity {
  width: 40px;
  text-align: center;
}

#grandTotal {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.productwrap{
display: flex;
gap: 10px;
}

.productwrap button, #Bill{
padding: 10px;
color: white;
background-color: red;
border-radius: 10px;
}