* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #141414;
    text-align: justify;
  }
  
  /* Headings styles */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.2;
    color: #212121;
  }
  
  /* Basic styling for the navigation bar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 20px 20px;
  }
  
  /* Styling for the logo */
  .logo img {
    height: 120px;
  }
  
  /* Styling for the navigation links */
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 24px;
  }
  
  .nav-links a:hover {
    color: #ffc107;
  }
  
  /* Basic styling for the navigation bar ends here */
  .icons {
    color: white;
    display: flex;
  }
  
  .icons .material-symbols-outlined {
    font-size: 30px;
  }
  
  /* footer styling starts header */
  .footer {
    display: flex;
    background-color: #141414;
    color: white;
    padding: 20px;
  }
  
  .footer-section {
    flex: 1;
    padding: 10px;
  }
  
  .footer-logo {
    padding: 10px;
  }
  
  .footer h2 {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    text-align: left;
  }
  
  .footer p {
    margin: 0;
    padding-top: 10px;
    text-align: left;
  }
  
  /* footer styling ends here */
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-menu .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }



  
.container {
    margin: 10px;
    margin-top: 88px;
    /* border: 10px solid white; */
}

.gallery {
    display: grid; 
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 0.5fr);
    grid-gap: 30px; 
    /* border: 10px solid white; */

}

.gallery img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    display: block; 
    border-radius: 19px;
    max-block-size: 1000px;
    border: 5px solid white;
}

.one{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}
.three{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}
.four{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 4;
}
.five{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end:7;
}
/* .six{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.seven{
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 4;
} */
.six{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 4;
}
/* .seven{
    grid-column-start:1;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
} */
.two{
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 5;
}
.twelve{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;
}
.nine{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 6;
}
.ten{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 7;
}
.eleven{
    grid-column-start: 1;
    grid-column-end: 6 ;
    grid-row-start:6;
    grid-row-end: 7;
}
.eight{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start:7;
    grid-row-end:7 ;
}

  
  @media (min-width: 768px) {
    .product-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
  
  
    .nav-links {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: #141414;
      position: absolute;
      top: 150px;
      left: 0;
      padding: 10px;
      z-index: 99;
  }
  
  .nav-links.active {
      display: flex;
  }
  
  .hamburger-menu {
      display: block;
  }
  
  .icons {
      margin-top: 0px;
  }
    .footer {
      flex-direction: column;
    }
  
    .footer-section {
      padding: 10px 0;
    }
  
    .footer-logo {
      padding: 10px 0;
    }
  }
  